{% extends "base_generic.html" %}
{% block title %} 
<title>Liste des auteurs</title>
{% endblock %}


{% block content %}
<style>
    .card-img-top {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

</style>
<div class="container px-4 px-lg-5 mt-5">
  <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    {% if les_auteurs %} {% for auteur in les_auteurs %}
    <div class="col mb-5">
      <div class="card h-100">
        <!-- Auteur image-->
        {%if auteur.image.url %}
        <img class="card-img-top" src="{{ auteur.image.url }}" alt="..." />
        {%endif%}

        <!-- auteur details-->
        <div class="card-body p-4">
          <div class="text-center">
            <!-- auteur name-->
            <h5 class="fw-bolder">{{ auteur.nom }}</h5>
            <!-- auteur authors -->
            <h6 class="fw-bolder">{{ auteur.auteur }}</h6>
    
            <!-- Books price-->
            {% comment %} <span class="text-muted text-decoration-line-through">$20.00</span>   {% endcomment %}
          </div>
        </div>
        <!-- actions -->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
          <div class="text-center">
            {% comment %} <a class="btn btn-outline-dark mt-auto" href="{% url 'auteurdetail' %}">Détails</a> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %} 
    {% endif %}
  </div>
</div>
{% endblock %}